## Feature Extraction on Anime Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'anime.csv')

In [3]:
df.head() #Starting 5 rows

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

Create a New for No. of Episodes :

In [4]:
df.loc[4]['Title'] #Here we can see episodes are written in Title it self

'Shingeki no Kyojin Season 3 Part 2TV (10 eps)Apr 2019 - Jul 20192,146,679 membersManga StoreVolume 1€10.99Preview'

In [5]:
def episode_extract(txt):
    check=False
    data=""
    for i in txt:
        if i == "(":
            check=True
            continue
        if i==")":
            break
        if check:
            data=data+i
    return data

In [6]:
df["Episodes"]=df["Title"].apply(episode_extract)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

In [7]:
df['Episodes']=df['Episodes'].str.replace(" eps","")
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10       64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07       24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06       13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06       51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05       10

In [8]:
df["Episodes"]=df["Episodes"].astype(int)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

Make a New Column for TimeStamp :

In [9]:
def extraction_time(txt):
    check=False
    data=""
    for i in range(len(txt)):
        if txt[i]==")":
            for j in range(i+1,i+20):
                data=data+txt[j]
            return data

In [10]:
df['Total_Time']=df['Title'].apply(extraction_time)

In [11]:
df.head()

,Rank,Title,Score,Episodes,Total_Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [12]:
def calculate_months(date_range):
    month_map = {
        "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4,
        "May": 5, "Jun": 6, "Jul": 7, "Aug": 8,
        "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12
    }

    start, end = date_range.split(" - ")

    sm, sy = start.split()
    em, ey = end.split()

    sy, ey = int(sy), int(ey)

    total_months = (ey - sy) * 12 + (month_map[em] - month_map[sm]) + 1
    return total_months

In [13]:
df['Total_Months'] = df['Total_Time'].apply(calculate_months)

In [14]:
df.head()

,Rank,Title,Score,Episodes,Total_Time,Total_Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

Which Anime has the Highest Score ?

In [15]:
df[df['Score']==df['Score'].max()]

,Rank,Title,Score,Episodes,Total_Time,Total_Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

Find Top 5 Highest Scoring Anime ?

In [16]:
df['Title'].head() #As data is already is sorted by Score

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

Which Anime has the Highest Anime Count ?

In [17]:
df[df['Episodes']==df['Episodes'].max()]

,Rank,Title,Score,Episodes,Total_Time,Total_Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

Anime 5 Anime with episode count ?

In [18]:
df[['Title','Episodes']].sort_values(by="Episodes",ascending=False).head(5)

                                                Title  Episodes
15  GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...       201
7   Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...       148
11  Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...       110
42  Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...        75
24  MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...        74

Find 5 Anime with Highest Number of Episodes ?

In [19]:
df[['Title','Total_Months']].sort_values(by="Total_Months",ascending=False).head(5)

                                                Title  Total_Months
11  Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...           111
15  GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...            48
7   Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...            36
32  Kingdom 3rd SeasonTV (26 eps)Apr 2020 - Oct 20...            19
24  MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...            18